<!DOCTYPE html>
<head>
    <title>Commandes</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
		<div>
		<a href="/index">Accueil</a>
		<a href="/pageProduit">Page produits</a>
		<a href="/Administrateur" th:if="${session.user.admin == true}">Administrateur</a>
		<a href="Panier">Panier</a>
		<div>
<p>Welcome, <a th:href="@{/Utilisateur}" th:text="${session.user.username}"></a></p>

        <a href="deconnexion">Deconnexion</a>
        </div>
   
	
    <h1>Administrateur</h1>


   
    
    <h2>Ajouter un Utilisateur</h2>
    
    <div>
		
		
<form action="/Administrateur/ajouter-utilisateur" method="post">
    <label for="username">Nom d'utilisateur :</label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">Mot de passe :</label>
    <input type="text" id="password" name="password" step="0.01" required>
    
    <label for="admin">Admin :</label>
    <input type="radio" id="admin" name="admin" value="true"> Oui
    <input type="radio" id="admin" name="admin" value="false" checked> Non
    
    <button type="submit">Ajouter l'utilisateur</button>
</form>


</div>

   <div th:if="${ErreurAjout}">
    	<p th:text="${ErreurAjout}"></p>
		</div>


    <h2>Utilisateur</h2>

    <table>
        <thead>
            <tr>
                <th>Nom d'utilisateur</th>
                <th>Mot de passe</th>
                <th>Admin</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="utilisateur : ${utilisateurs}">
                <td th:text="${utilisateur.username}">Nom d'utilisateur</td>
                <td th:text="${utilisateur.password}">Mot de passe</td>
                <td th:text="${utilisateur.admin}">Admin</td>
             	<td>
				<form th:action="@{/Administrateur/modifier-utilisateur/{utilisateurId}(utilisateurId=${utilisateur.id})}" method="get">
   				<button type="submit">Modifier</button>
				</form>
				<form action="/Administrateur/supprimer-utilisateur" method="post">
    			<input type="hidden" name="utilisateurId" th:value="${utilisateur.id}" />
    			<button type="submit">Supprimer</butto>
				</form>


				</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
