<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>

    <div th:if="${session.user != null}">
	
	<div>
        <a href="pageProduit">Page produits</a>
		<a href="Administrateur" th:if="${session.user.admin == true}">Administrateur</a>
		<a href="Panier">Panier</a>
		</div>
		
		<div>
<p>Welcome, <a th:href="@{/Utilisateur}" th:text="${session.user.username}"></a></p>

        <a href="deconnexion">Deconnexion</a>
        </div>
      
    </div>
<div th:unless="${session.user != null}">
    <a href="/connexion">Se connecter</a>
    <a href="/pageProduit">Page produits</a>
</div>



</body>
</html>

