<!DOCTYPE html>
<html>
<head>
    <title>Panier</title>

</head>
<body>
	<a href="/index">Accueil</a>
	<a href="/pageProduit">Liste Produits</a>
    <a href="/Administrateur" th:if="${session.user.admin == true}">Administrateur</a>
    
    		<div>
<p>Welcome, <a th:href="@{/Utilisateur}" th:text="${session.user.username}"></a></p>

        <a href="/deconnexion">Deconnexion</a>
        </div>

<h2>Panier</h2>

<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Supprimer article</th>
        </tr>
    </thead>
<tbody>

    <tr th:each="commandeLine : ${commandeLignes}">
        <td th:text="${commandeLine.produit.nom}"></td>
        <td th:text="${commandeLine.qte}"></td>
        <td>
            <form method="post" action="/supplignePanier">

                <input type="hidden" name="commandeLinePosition" th:value="${commandeLine.position}" />
                <button type="submit">X</button>
            </form>
        </td>
    </tr>
</tbody>
</table>

            <form method="post" action="/Commander">
                <button type="submit">Passer la commande</button>
            </form>
            
            <br>
            
            <form method="post" action="/suppPanier">
            <button type="submit">Supprimer le panier</button>
            </form>





</body>
</html>
