<!DOCTYPE html>
<html>
<head>
    <title>Panier</title>
    <!-- Include stylesheets or other resources -->
</head>
<body>
	<a href="/index">Acceuil</a>
	<a href="/pageProduit">Liste Produits</a>
    <p>Bienvenue, <span th:text="${session.user.username}"></span> !</p>
    <a href="/deconnexion">Deconnexion</a>

<h2>Panier</h2>

<table>
    <thead>
        <tr>
            <th>Produit</th>
            <th>Quantité</th>
            <th>Supprimer article</th>
        </tr>
    </thead>
<tbody>
    <!-- Iterate over the list of commandeLines -->
    <tr th:each="commandeLine : ${commandeLignes}">
        <td th:text="${commandeLine.produit.nom}"></td>
        <td th:text="${commandeLine.qte}"></td>
        <td>
            <form method="post" action="/suppligneCommande">
                <!-- Adjusted the ID and name to match -->
                <input type="hidden" name="commandeLineId" th:value="${commandeLine.id}" />
                <button type="submit">X</button>
            </form>
        </td>
    </tr>
</tbody>
</table>

            <form method="post" action="/achatPanier">
                <!-- Adjusted the ID and name to match -->
                <input type="hidden" id="commandeId" name="commandeId" th:value="${commande.id}" />
                <button type="submit">Passer la commande</button>
            </form>
            
            <br>
            
            <form method="post" action="/suppPanier">
            <!-- Adjusted the ID and name to match -->
            <input type="hidden" id="commandeId" name="commandeId" th:value="${commande.id}" />
            <button type="submit">Supprimer le panier</button>
            </form>



<!-- Other HTML code -->

</body>
</html>
